// Place all the styles related to the abouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about {
	text-align: center;
	margin: 0 40px 40px 40px;
	font-size: 1.2em;
}

.ppl_text {
	padding: 0 20px 50px 20px;
	font-size: 1.2em;
	text-align: center;
}

.ppl_pics {
	width: 250px;
	height: 250px;
	border-radius:50%;
  margin-left: 60px;
}

.ppl_name {
	text-align: center;
	font-size: 1.7em;
	padding-top: 30px;
}



