/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

body {
	font-family: 'Josefin Sans', sans-serif;
}

a {
	outline: none;
}

#nav-links {
	margin-top: -30px;
}

.devise_forms {
	display: flex;
	justify-content: center;
}

.devise_sign {
	text-align: center;
	margin-left: -55px;
}

.devise_sign_link {
	text-align: center;
	margin-left: -160px;
	padding-top: 20px;
}

.devise_log_link {
	text-align: center;
	padding-top: 20px;
}



