// Place all the styles related to the bestof controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#best li {
	list-style: none;
	text-align: center;
	margin-left: -40px;
}