// Place all the styles related to the bestof controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#best li {
	list-style: none;
	text-align: left;

	font-size: 1.5em;
	font-family: 'Josefin Sans', sans-serif;
	padding: 10px 0;
}

li a:hover {
	background-color: #ffffff;
	color: red;
}

.best_text {
	font-size: 1.2em;
	font-family: 'Josefin Sans', sans-serif;
}

.map {
	margin-bottom: 50px;
}